<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:requestLegacyExternalStorage="true"
        android:requestRawExternalStorageAccess="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:targetApi="31">
        <activity
            android:name=".ads.custom.CustomInterstitialAdActivity"
            android:exported="false" />
        <activity
            android:name=".activities.paywalls.subscriptions.success.active.LifetimeActiveActivity"
            android:exported="false" />
        <activity
            android:name=".activities.camera.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.school.EditSchoolActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.basics.family_plan.EditFamilyPlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.lifestyles.sleeping_habit.EditSleepingHabitActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.lifestyles.social_media.EditSocialStatusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.lifestyles.diet.EditDietActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.lifestyles.workout.EditWorkoutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.lifestyles.smoking.EditSmokingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.lifestyles.drinking.EditDrinkingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.lifestyles.pets.EditPetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.your_styles.love_type.EditLoveTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.your_styles.communication_type.EditCommunicationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.your_styles.personality_type.EditPersonalityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.settings.content_visibility.ContentVisibilityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.settings.manage_notifications.ManageNotificationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.basics.religion.EditReligionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.basics.marital_status.EditMaritalStatusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.languages.EditLanguagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.search_user.SearchUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.notification.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.report.ReportUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.diamond.history.DiamondHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.diamond.DiamondActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.paywalls.topups.boost.BoostPaywallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.paywalls.topups.diamond.DiamondPaywallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.paywalls.topups.super_like.SuperLikePaywallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.paywalls.topups.rewind.RewindPaywallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.paywalls.topups.like.LikePaywallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.paywalls.subscriptions.success.gold.GoldPaymentSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.paywalls.subscriptions.success.platinum.PlatinumPaymentSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.paywalls.subscriptions.success.lifetime.LifetimePaymentSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.paywalls.subscriptions.subscription.SubscriptionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.basics.education.EditEducationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.basics.zodiac.EditZodiacActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.interests.EditInterestsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.relationship_goal.EditRelationshipGoalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.opposite_gender.EditOppositeGenderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.about_me.EditAboutMeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.height.EditHeightActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.sexual_orientation.EditSexualOrientationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.edit_profile.profile_images.EditPhotosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.filter.location.search_location.SearchLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.filter.location.ChangeLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.filter.FiltersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.introduction.relationship_goal.RelationshipGoalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.introduction.choose_interest.ChooseInterestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.introduction.upload_photo.UploadPhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.introduction.upload_photo.policy.PhotoUploadPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.introduction.sexual_orientation.SexualOrientationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.introduction.opposite_gender.OppositeGenderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.introduction.birthdate.BirthdateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.introduction.gender.GenderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.introduction.name.NameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.permission.PermissionsManagerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.signin.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.rejection.PhotosRejectionActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="belivedating.com"
                    android:pathPrefix="/verify-images"
                    android:scheme="belive" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.user_details.UserDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="belivedating.com"
                    android:pathPrefix="/profile"
                    android:scheme="belive" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.chat.ChatActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="belivedating.com"
                    android:pathPrefix="/chat"
                    android:scheme="belive" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.dashboard.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CustomSplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.BoostService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Foreground Service needed to run boost profile for specific given time period" />
        </service>
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.FileUploadService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".services.FileDownloadService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".receiver.NetworkChangeReceiver"
            android:exported="true"
            android:label="NetworkChangeReceiver"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.app_id"
            android:value="@string/web_client_id" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/fcm_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_small_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorBackground" />
        <meta-data
            android:name="com.mixpanel.android.MPConfig.EnableDebugLogging"
            android:value="true" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true" />
    </application>

</manifest>